<header class="ColorPrim">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"/>
            <!-- <img class="onlyMobile" src="logo96x96.png" alt="logo de la banque"> -->
            <img class ="logo" src="{{ asset('img/logo.png') }}" alt="Logo"></a>
            <button class="navbar-toggler btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon btn-sm"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mes projets
                        </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ asset('project') }}">Voir tout mes projets</a></li>
                        <li><a class="dropdown-item" href="{{ asset('/project/new') }}">Créer un nouveau projet</a></li>
                    </ul>
                    </li>
                    {% if not app.user %}
                        <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li>    
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>