{% extends 'base.html.twig' %}

{% block title %}Mes projets{% endblock %}

{% block body %}
        <a class="btn btn-sm colorSec my-3 mx-3 col-sm-6 col-md-6 col-lg-3 " href="{{ path('project_new') }}">Créer un nouveau projet</a>
    <h1>Mes projets</h1>
        
        
        {% for message in app.flashes('success') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}


        <div class="row">
        {% for project in projects %}
        <div class="col-lg-4 col-md-6">
            <button class="accordion colorPrim my-1 m-auto ">{{ project.title }}</br>
                    <div class="colorSec card">
                        Reste: {{project.date.diff(project.deadline)|date("%Y")}} ans, {{project.date.diff(project.deadline)|date("%M")}} mois et {{project.date.diff(project.deadline)|date("%D")}} jours
                    </div>
            </button>
            <div class="panel card m-auto text-center">
                <p>{{ project.client }}</p>
                <p>{{ project.description }}</p>
                <p>Date de fin de projet:  {{ project.deadline ? project.deadline|date('d-m-Y') : '' }}</p>
                <a class="btn colorPrim my-1" href="{{ path('project_show', { id: project.id}) }}">Détails</a>
                <a class="btn colorPrim my-1" href="{{ path('project_edit', { id: project.id}) }}">Modifier</a>
                <a class="btn colorPrim btn-sm accordion my-1">Voir les tâches</a>
                <div class="panel card my-1">
                    <a class="btn colorPrim my-2" href="{{ path('task_new',{ id: project.id}) }}">Ajouter une tâche</a>
                    {% for task in project.tasks %}
                        <div class="container">
                            <div class="row">
                                <p class=" m-auto my-2">{{ task.title }}</p>
                                {% if task.state == true %}
                                    <p class="card bg-success col-8 m-auto my-1">Terminée</p>
                                {% else %}
                                <p class="card colorTer col-8 m-auto">En cours</p>
                                <form method="post" action="{{ path('task_state', { id:task.id }) }}">
                                    <input type="hidden" name="_token" value="{{ csrf_token('state' ~ task.id) }}">
                                    <button type="submit" class="btn colorPrim m-auto my-1">Finir</button>
                                </form>
                                {% endif %}
                                <hr>
                            </div>
                        </div>
                        {% else %}
                            <p>Aucune tâche ajoutée</p>    
                    {% endfor %}
                </div>
            </div>
        </div>
            {% else %}
                <tr>
                    <td colspan="8">Aucun projets trouvé</td>
                </tr>
            {% endfor %}
        </div>
{% endblock %}
