{% extends 'base.html.twig' %}

{% block title %}Mes projets{% endblock %}

{% block body %}

    <h1>Mes projets</h1>


    
 
        <tbody>
        {% for project in projects %}

        <button class="accordion my-1">{{ project.title }} {{ project.category }}</button>
        <div class="panel">
            <p>{{ project.description }}</p>
            <p>{{ project.client }}</p>
            <p>{{ project.description }}</p>
            <p>Date de fin de projet:  {{ project.deadline ? project.deadline|date('Y-m-d H:i:s') : '' }}</p>
            <a href="{{ path('project_show', {'id': project.id}) }}">Détails</a>
            <a href="{{ path('project_edit', {'id': project.id}) }}">Modifier</a>
        </div>

        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
 

    <button class="btn btn-primary my-3 w-25" href="{{ path('project_new') }}">Créer un nouveau projet</button>

{% endblock %}
