{% extends 'base.html.twig' %}

{% block title %}Projet{% endblock %}

{% block body %}
    <section class="text-center">
        <div class="card">
            <div class="card-header">
                <h1>{{ project.title }}</h1>
            </div>
            <p>{{ project.category }}</p>
            <p>Date de création: {{ project.date ? project.date|date('Y-m-d') : '' }} </p> 
            <p>Date de fin prévue: {{ project.deadline ? project.deadline|date('Y-m-d ') : '' }}</p>
            <p>Client: {{ project.client }}</p>
            <p>Description: {{ project.description }}</p>
        </div>
        <div class="row my-3 text-center">
            <a class="btn colorPrim w-25 m-auto" href="{{ path('project_edit', {'id': project.id}) }}">Modifier le projet</a>
            <a class="btn colorPrim w-25 m-auto" href="{{ path('project_index') }}">Retour à l'accueil</a>
        </div>
        {{ include('project/_delete_form.html.twig') }}
        <h3>Tâches</h3>
            <table class="border" width="100%" align="center">
                <thead>
                    <tr>
                        <th>Tâche</th>
                        <th>Description</th>
                        <th>Etat</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in project.tasks %}
                        <tr>
                            <td>{{ task.title }}</td>
                            <td>{{ task.description }}</td>
                            <td> {% if task.state == true %}
                                    <p class="card bg-success col-8 m-auto my-1 text-center">Terminée</p>
                                {% else %}
                                <p class="card colorTer col-8 m-auto text-center">En cours</p>
                                {% endif %}
                           </td>
                            <td><a class="btn colorPrim w-50" href="{{ path('task_edit', {'id': task.id}) }}">Modifier la tâche</a></td>
                            <td>
                                    <form method="post" action="{{ path('task_state', { id:task.id }) }}">
                                    <input type="hidden" name="_token" value="{{ csrf_token('state' ~ task.id) }}">
                                    <button type="submit" class="btn colorPrim my-1">Finir</button>
                                    </form>
                                </td>
                        </tr>
                        {% else %}
                        <p>Pas de tâches ajoutées</p>
                    {% endfor %}
                </tbody>
            </table>
    </section>
{% endblock %}
